<footer class="footer">
  <div class="footer__inner">
    <span>
      <a href="https://github.com/c-wicklein">GitHub</a>
      <a href="https://gitlab.com/cwicklein">GitLab</a>
      <a href="mailto:chrisw@wicklein.org">Contact</a>
    </span>
  </div>
</footer>
